.squre {
    width: 512px;
    height: 512px;
    background: linear-gradient(to bottom, #2137FC 50%, #FFCE22 50%);
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 20px;

}
.dia_squre{
    width: 512px;
    height: 512px;
    background-color: black;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 20px;
}

.circle {
    width: 512px;
    height: 512px;
    background: linear-gradient(to bottom, #2137FC 50%, #FFCE22 50%);
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    border-radius: 50%;
    box-sizing: border-box;
}

.figure_one {
    padding: 143px 52px 133px 52px;

}

.figure_two {
    padding: 244px 63px 52px 70px;
}


.figure_five {
    padding: 59px 170px 60px 0;
}

.figure_six {
    padding: 66px 80px 96px 80px;
}

.figure_seven {
    padding: 128px 0 0 173px;
}

.figure_eight {
    padding: 66px 96px 96px 86px;
}
.figure_nine{
    padding: 158px 108px 171px 93px;
}
.figure_ten{
    padding: 158px 108px 171px 93px;
}
.dia{
    padding: 128px 101px 32px 101px;
}
.flag_1{
    margin: 0 0 0 216px;
    
}
.figure_twelve{
    margin-left: 20px;
}
.dia_2{
    padding: 45px 101px 32px 101px;
}
.flag_2{
   margin: 23px 0 0 21px;
   
}
.flag_3{
    margin-right: 310px;
    margin-left: 21px;
    margin-top: 27px;
}
.dia_3{
    padding: 41px 101px 32px 101px;
}