body{
    font-family: 'Inika', sans-serif;
    font-weight: 700;
}
.h1{
    font-size: 40px;
    font-weight: 700;
    margin: 70px 0;
}
.line{
    width: 402px;
    border-bottom: 5px solid #3E45E8;
}
.header{
    min-height: 50px;
    max-height: 110px;
    text-align: center;
    font-family: 'M PLUS 1';
    font-size: 48px;
    font-weight: 400;
    color: #3E45E8;
    padding: 16px 0;
    box-sizing: border-box;
}
.header_span{
    color: #E8C23E;
    
}
.baner{
    background-image: url('../img/image\ 1.png');
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 14%;
    padding-left: 10%;
    
}
.content {
    color: white;
    font-size: 48px;
    width: 1036px;
    box-sizing: border-box;
    padding-left: 70px;
    background-image: url('../img/flag.png');
    background-repeat: no-repeat;
    height: 272px;
}
.main {
    padding: 0 80px;
}
.card{
    border: 1px solid black;
    width: 30%;
    color: #1E8DF2;
    display: inline-block;
    vertical-align:top;
    border-radius: 35px;
    box-shadow: 0 4px 57px rgb(0 0 0 / 25%);
}
.card_margin{
    margin: 0 49px;
}
.card_img{
    width: 100%;
}
.title{
    font-size: 24px;
    padding: 16px;
    box-sizing: border-box;
}
.sub_title{
    color: #E8C23E;
    font-size: 20px;
    font-weight: 400;
    padding:0 0 16px 16px;
    box-sizing: border-box;
}
.h1_center{
text-align: center;
}
.line_center{
    margin: 0 auto;
}
.map {
    margin: 0 auto;
    display: block;
    height: 537px;
}
.buton {
    margin: 0 auto;
    width: 497px;
    height: 100px;
    background-color: #2A61F0;
    color: white;
    font-size: 50px;
    box-sizing: border-box;
    padding: 15px 103px;
}
.footer{
    height: 320px;
    background-color: #2F4A4B;
    margin-top: 31px;
}
.email{
    font-size: 36px;
    text-align: center;
    font-family: 'Marcellus SC';
    font-weight: 400;
    color: #A89D9D;
}
.number{
    font-size: 36px;
    text-align: center;
    font-family: 'Marcellus SC';
    font-weight: 400;
    color: #A89D9D;
    padding-top: 21px;
    box-sizing: border-box;
}
.social_media{
    height: 64px;
    text-align: center;
    padding-top: 26px;
    box-sizing: border-box;
}
